<ul class="postList">
<% posts.each(function (post) { %>

  <li class="post" id="<%= post.get('id') %>">
  <a href="posts/<%= post.get('id') %>" class="postShowLink"><%= post.get("title") %></a>
  <button class='deleteButton'>Delete</button>
  </li>
<% }); %>

</ul>


